In [1]:
import pandas as pd

In [24]:
df1=pd.DataFrame({'A':[1,2,3],
                 'B':[10,20,30]},index=['a','b','c'])
df2=pd.DataFrame({'A':[4,5],
                  'D':[40,50]},index=['a','b',])
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   A   D
a  4  40
b  5  50

In [28]:
df1.join(df2,lsuffix='_1')

   A_1   B    A     D
a    1  10  4.0  40.0
b    2  20  5.0  50.0
c    3  30  NaN   NaN